<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="head">
    <header>
        <h1 class='site-title'>Hey There Neighbor,</h1>
    </header>
    <img class="logo" src="images/friendface_logo.png" alt="Fuck Facebook!">
    <a href="/">
        <img class="minipic" src="<%- minipic %>" alt="back to my page"/>
    </a>
</div>