<%- include('../partials/frogheader') %>
<body>
    <div id="main" class="main">
        <ol id="track" class="track"></ol>
    </div>
    <script src="frogface/frogStable.js"></script>
    <script src="frogface/app.js"></script>
</body>